html {
	cursor: none;
}

@font-face {
    font-family: 'audimat';
    font-style: normal;
    font-weight: normal;
    src: local('Audimat'), url('AUdimat-Regular.otf');
}

#drivstoff p{
    font-family: "audimat";
}

h1,
h2,
button {
    font-family: "audimat", sans-serif;
}

body {
    overflow: hidden;
    font-size: 19px;
    font-family: Calibri;
    background-image: url("img/bg.jpg");
    cursor: none !important;
}

h1 {
    /* background-color: rgb(109, 230, 171); */
    background-color: hsla(352, 66%, 60%, 1);
    color:white;
    position: relative;
    top: 0;
    margin-left: -10px;
    margin-top: -20px;
    margin-bottom: 15px;
    padding: 20px 10px;
    width: 100%;
    text-align: center;
    border-bottom: 0px solid black;
    height: 40px;
}

h1 img {
    border: none;
}

h2 {
    /* color: rgb(0, 128, 68); */
    margin: 0;
    padding: 0;
    /* padding-top: 20px; */
}

ul,
ol {
    margin-top: 0;
    padding-top: 0;
}

section#intro {
    text-align: center;
}

ul li {
    list-style-type: none;
}

li {
    margin: 10px 0;
}

.quiz h2 {
    /* text-align: center; */
    /* padding-left: 40px; */
    margin-bottom: 5px;
}

.buttons button {
    margin-top: 65px;
    display: block;
    float: left;
    padding: 53px 5px 73px 5px;
}

.buttons {
    position: absolute;
    top: 66px;
    right: 0px;
}

button.stor, button.restart {
    width: 150px;
    height: 60px;
    margin-right: 15px;
    font-size: 0.95em;
    font-weight: 0.1;
}

button.restart {
    margin-top: 20px;
}

.quizbilder {
    text-align: center;
    font-family: audimat;
    margin-top: -2px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.quizbilder button {
    /* position: relative;
    left: 50%;
    transform: translateX(-50%); */
    position: absolute;
    top: -10px;
}

figure {
    display: inline-block;
    margin: 10px 10px 5px 10px;
    margin-top: 7px;
}

.info,
.les-mer-tekst {
    float: left;
    margin-top: 1px;
    min-width: 40%;
    max-width: 53%;
    padding: 32px;
    padding-top: 8px;
    overflow: hidden;
}

.les-mer-tekst {
    background-color: hsl(39, 100%, 97%);
    border: 1px dashed black;
    height: 73vh;
    padding-right: 10px;
    min-width: 76%;
    /* margin-left: 12px; */
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 8px;
}

.info p {
    margin: 0;
    margin-top: 15px;
}

.info p:before {
    content: "• ";
}

.info strong {
    display: block;
    margin-top: -5px;
    margin-bottom: 10px;
    color: green;
}

#intro ul {
    padding-left: 0;
}

#intro #drivstoff img {
    /* border: 10px solid fuchsia; */
    margin-top: 22px;
}

#intro #drivstoff p {
    padding-top: 30px;
}

#Elektrisitet p {
    color: black;
}

#drivstoff {
    margin-left: -8px;
    margin-right: -16px;
}

#drivstoff h2#el::after {
    content: url("img/emoji-bolt.png");
}

#drivstoff div {
    float: left;
    color: white;
    width: 33%;
    /* border-left: 1px solid white; */
    height: 100vh;
    /* display: table-cell; */
    vertical-align: center;
    padding-top: 10px;
}

#drivstoff span {
    display: block;
    height: 25px;
    padding-bottom: 30px;
    /* border-bottom: 1px solid white; */
}

img {
    border: none;
}

figure img {
    border: 4px solid white;
}

figcaption {
    margin-top: -5px;
}

img:hover {
    cursor: pointer;
}

img[selected],
img[selected]:hover {
    border: 4px groove hsl(40, 100%, 50%);
}

img[feil-svar],
img[selected][feil-svar],
#sjekk-svar[feil-svar] {
    border: 4px groove hsl(40, 100%, 50%);
}

img[riktig-svar],
#sjekk-svar[riktig-svar],
img[riktig-svar][selected] {
    border: 4px inset rgb(129, 255, 129);
}

section#elektrisitet .quizbilder {
    /* background: linear-gradient(to right, hsl(60, 90%, 90%), hsl(80, 90%, 90%)); */
    background-color: hsl(60, 90%, 90%);
    border-top: 5px solid hsl(50, 100%, 50%);
}

section#hydrogen .quizbilder {
    background-color: hsl(200, 90%, 90%);
    border-top: 5px solid hsl(200, 100%, 50%);
}

section#biodrivstoff .quizbilder {
    background-color: hsl(110, 90%, 90%);
    border-top: 5px solid hsl(110, 50%, 50%);
}

p#instruks {
    font-size: 20px;
    font-family: "audimat";
    margin: 90px 0px 100px 0px;
}

p#instruks span {
    border-bottom: 2px solid #e0a240;
    padding-bottom: 5px;
}
