html {
    font-family: sans-serif;
    font-size: 20px;
    padding-bottom: 0px;
}

body {
	overflow: hidden;
}

video {
    margin-top: 20px;
    position: relative;
}

button {
    padding: 0px;
    margin: 10px 5px;
    font-size: 1.05em;
    width: 300px;
    height: 100px;
    border: 1px solid;
    border-radius: 5px;
    background-color: white;
}

button:hover {
	background-color: #afffaf;
}

button:focus { outline: none; }

#video-buttons {
	background-color: #dcb192;
	padding: 10px;
	padding-left: 18px;
	border-top: 1px solid black;
	margin-left: -9px;
	margin-right: 0px;
	position: absolute;
	bottom: 0;
}

h1 {
	text-align: center;
	margin-top: 0;
	margin-bottom: 5px;
}
